.bgts {
  background-color: white;
}

@keyframes color-change {
  0%   {background-color:#F00000;}
  14%  {background-color:#FFAC12;}
  28%  {background-color:#FFFF00;}
  42%  {background-color:#00E600;}
  57%  {background-color:#CCCCFF;}
  71%  {background-color:#0000A8;}
  85%  {background-color:#6400AD;}
  100% {background-color:#ffffff;}
}

.block {
  animation-name:color-change;
  animation-duration:7;
  animation-iteration:infinite;
  width:100px;
  height:100px;
}

.container {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  border:2px solid rgb(15, 96, 245);
  height:750px;
  justify-content: flex-end;
  align-items: center;
}


.container div{
  border:2px solid rgb(255, 51, 51);
  padding:10px;
  width:100px;
  height:75px;
}


.box1 {
 
  
}

.box2 {
 
  
}

.box3 {
 
  
}

.bg {
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTis2cvZWTkSDR4MivLXKaK1cU4KhNBB9FyMSQ6aVRbsroNV9Tt");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input{border:0;
  background-color:	#0000E3;
  color:#DFFFDF;
  cursor:wait;}

input:hover{
  color:#003C9D;
  background-color:#DFFFDF;
  border:2px 	#0000E3 solid;
}
