.bgts {
  background-color: white;
}

@keyframes color-change{
  0% {style="color:#F00000"}
  14% {style="color:#FFAC12"}
  28% {style="color:#FFFF00"}
  42% {style="color:#00E600"}
  57% {style="color:#CCCCFF	"}
  71% {style="color:#0000A8"}
  85% {style="color:#6400AD"}
  100% {style="color:#ffffff"}
}
.h2-animation:hover{
  animation-name:color-change;
  animation-duration:7;
  animation-iteration:infinite;
}
